<%- include('../partials/header.ejs') %>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <%- include('../partials/sidebar.ejs') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Users</h1>
                    <p>This is data of Users</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a href="/add" class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class="text">Add</span>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th>Email</th>
                                            <th>Name</th>
                                            <th>Role</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% daftar.forEach((item) => { %>
                                        <tr>
                                            <td><%= item.userid %></td>
                                            <td><%= item.name %></td>
                                            <td><%= item.email %></td>
                                            <td><%= item.role %></td>
                                            <td>
                                                <a href="/edit" class="btn btn-circle btn-success"><i
                                                        class="fas fa-info-circle"></i></a>
                                                <a href="" class="btn btn-circle btn-danger"><i
                                                        class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>User ID</th>
                                            <th>Email</th>
                                            <th>Name</th>
                                            <th>Role</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <%- include('../partials/logout.ejs') %>
        </div>
        <%- include('../partials/footer.ejs') %>